[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=AutoGraderQT
Exec=/usr/bin/single-instance /opt/AutoGraderQT/bin/AutoGraderQT
Icon=/usr/share/icons/hicolor/80x80/apps/AutoGraderQT80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
